/*CSS For common appearance*/
html { 
	
	overflow: auto;
	height: 100%;
	}
body {
    /*background: #F0F0F0;*/
   /*  background: url('../images/background.jpg'); */
	/* overflow: auto; */
    height: 100%;
}

.navbar {
  position: relative;
  min-height: 100px; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: @navbar-margin-bottom;
  border: 1px solid transparent;
  
  // Prevent floats from breaking the navbar
  &:extend(.clearfix all);
  
  @media (min-width: @grid-float-breakpoint) {
    border-radius: @navbar-border-radius;
  }
}
.navbar-default .navbar-nav > li > a{
    color:#ffffff;
    font-weight: bold;
    font-size: 18px;
}
.navbar-default .navbar-brand{
    color:#ffffff;
    font-size: 25px;
    font-weight: bold;
}

.navbar-default {
    
    background: #1886a5;
    border-color: #1886a5;
}
.navbar-default div.container {
    
    margin-top:30px;
    margin-bottom:auto;
}
.nav .dropdown-menu{
    
    background:  #e5e5ff;
    border-color: #1aa3ff;
}




.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .active a:hover {
    color: #555;
    background-color: #dfeffc;
    
}
.navbar-default .navbar-nav .active>a, .navbar-default .navbar-nav .open>a{
    background-image:none;
    
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #dfeffc;
}

#searchform {
    
    margin: 1px 3px;
    padding: 4px 6px;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 1.0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}


















.panel .panel-title{
    font-weight:bold;
}




    
    

.nav .navbar-inverse  {
	
    background: #0C7854;
    background-image: -webkit-linear-gradient(top, #0D8059, #0B6E4D);
}




div.post-tabs {
    margin-top: 16px;
}

ul.posts {
    list-style-type: none;
    padding: 1px;
    margin: 20px 0px 0px 0px;
    border-bottom: 1px solid #e0e0e0;
    
}
div.post-tabs ul.posts {
    margin: 4px;
    border-top: none;
    
}
ul.posts li.post {
    margin: 15px  2px;
    padding: 3px;
    border: 1px solid #e0e0e0;
    background: #f7fff7;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-pre-title {
    
    text-align: center;
    margin: 12px 10px;
}
div.post-pre-title a{
    font-weight: bold;
    color:#000000; 
    text-decoration: none;
}

div.post-pre-author {
    font-weight: bold;
}

div.post-pre-content {
    margin: 6px;
    margin-left: 48px;
    min-height: 50px;
}
div.post-pre-content a{
     
    text-decoration: none;
}
div.post-pre-header {
    font-weight:bold;
    margin-top:3px;
}
div.post-pre-header a{
    color:#FFFFFF;
    text-decoration: none;
}

div.post-pre-body {
	margin-top: 15px;
    
	margin-bottom:2px;
    min-height: 36px;
    text-align: left;
}
div.post-pre-button {
	margin:8px 2px;
    
}
div.post-pre-footer {
	height: 16px;
    vertical-align: middle;
	margin:8px;
}
div.post-pre-footer a{
    color:#696969;
    text-decoration: none;
}






.post-entry-box {
    background: #f7fff7;
    padding: 30px;
	margin:20px 10px 30px 10px;
    height:auto;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}
.post-entry-box:hover {
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    border-color: #d6d6d6;
}
.post-entry-header {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.post-entry-title {
    text-align: center;
    margin: 15px 10px;
}
.post-entry-title a {
    text-decoration: none;
}

.post-entry-info {
    height: 35px;
}
div.post-entry-info a{
    color:#FFFFFF;
    text-decoration: none;
}

.left-info {
    float: left;
	vertical-align: middle;
}
.right-info {
    float: right;
	vertical-align: middle;
}
.post-entry-body {
	margin-top: 10px;
	margin-bottom:10px;
    min-height: 150px;
	
	text-align: left;
}

div.post-entry-footer {
	height: 40px;
    vertical-align: middle;
	margin-bottom:30px;
}
div.post-entry-footer a{
    text-decoration: none;
}






.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}











.footer {
	background: #1c9dc2;
	width:100%;
	font-size: 14px;
    min-height: 40px;
    margin-top: 150px;'
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    
    
}

.footer-content {
    
    text-align: center;
    color: #000000;
}












div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}








/*CSS For Comments(Article details page)*/
ul.comments {
    list-style-type: none;
    margin: 4px 1px 1px 1px;
    
}
ul.comments li.comment {
    
    padding:2px;
    border-bottom: 1px solid #e0e0e0;
    
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}


ul.comments div.comment-info {
    
    margin-left: 48px;
    margin-right: 2px;
    min-height: 60px;
    
}
li.comment div.comment-thumbnail {
    position: absolute;
    margin-top:4px;
    
    
}

li.comment div.comment-body {
    
    margin-top: 10px;
    min-height: 30px;
    
}


div.comment-info div.comment-date {
    float:right;
    margin-right: 12px;
    color: #8c8c8c;
}
div.comment-info div.comment-author {
    float:left;
    margin-left: 12px;
    font-weight: bold;
    color: #337ab7;
}
ul.comments .delete-comment{
    margin: 0px 5px 0px 5px;
}



div.comment-form {
    margin: 16px 0px 16px 32px;
}
.comment-reply-info {
    color: #3f42cd;
}

.img-rounded {

    border-radius: 6px;
    
}



.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #dfeffc;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}




.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    text-shadow: 0 -1px 0 #dfeffc;
    z-index: 0;
    color: #555;
    cursor: default;
    background-color: #dfeffc;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    background-image: none;
}














/*CSS For Comments(admin page), use the same CSS as above*/
ul.comments .comment-handle-admin {
    float: right;
}
ul.comments .disabled-comment-admin-info {
    color: #2c4a35;
}
ul.comments div.comment-info-admin {
    margin-left: 68px;
    min-height: 48px;
}
div.manage-comments .select-comments-admin {
    margin-left: 40px;
}
div.manage-comments .handle-box-admin {
    margin-bottom: -10px;
}
div.manage-comments .delComments {
    float: right;
}
ul.comments .delete-comment-admin-btn {
    margin-left: 5px;
    margin-right: 5px;
}
ul.comments .disabled-comment-admin-btn {
    margin-left: 5px;
}

/*CSS For submit comment*/
.comment-submit {
    margin-left: 25px;
}

/*CSS For floatButton*/
.floatButton {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 9999999;
}


