/*CSS For common appearance*/
html { 
	
	overflow: auto;
	height: 100%;
	}
body {
    /*background: #F0F0F0;*/
   /*  background: url('../images/background.jpg'); */
	/* overflow: auto; */
    height: 100%;
}

.navbar {
  position: relative;
  min-height: @navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: @navbar-margin-bottom;
  border: 1px solid transparent;
  
  // Prevent floats from breaking the navbar
  &:extend(.clearfix all);
  
  @media (min-width: @grid-float-breakpoint) {
    border-radius: @navbar-border-radius;
  }
}

.nav .navbar-inverse  {
	
    background: #0C7854;
    background-image: -webkit-linear-gradient(top, #0D8059, #0B6E4D);
}




div.post-tabs {
    margin-top: 16px;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: left;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-header {
    font-weight:bold;
}







.post-box {
    background: #f7fff7;
    padding: 30px;
	margin-top:15px;
    margin-bottom: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}
.post-box:hover {
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    border-color: #d6d6d6;
}
.post-entry-header {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.post-entry-title {
    text-align: center;
    margin-bottom: 10px;
}
.post-entry-title a {
    text-decoration: none;
}

.post-entry-info {
    height: 35px;
}
.left-info {
    float: left;
	vertical-align: middle;
}
.right-info {
    float: right;
	vertical-align: middle;
}
.post-body {
	margin-top: 10px;
	margin-bottom:10px;
    min-height: 100px;
	
	text-align: left;
}
div.post-footer {
	height: 40px;
    vertical-align: middle;
	margin-bottom:30px;
}
div.post-footer a{
    text-decoration: none;
}



.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}











.footer {
	background: #474E5D;
	padding: 15px 0 5px;
	font-size: 13px;
}
.footer-content {
    text-align: center;
    color: #8a6d3b;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}








/*CSS For Comments(Article details page)*/
ul.comments {
    list-style-type: none;
    margin: 4px 1px 1px 1px;
    
}
ul.comments li.comment {
    
    padding:2px;
    border-bottom: 1px solid #e0e0e0;
    
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}


ul.comments div.comment-info {
    
    margin-left: 48px;
    margin-right: 2px;
    min-height: 60px;
    
}
li.comment div.comment-thumbnail {
    position: absolute;
    margin-top:4px;
    
    
}

li.comment div.comment-body {
    
    margin-top: 10px;
    min-height: 30px;
    
}


div.comment-info div.comment-date {
    float:right;
    margin-right: 12px;
    color: #8c8c8c;
}
div.comment-info div.comment-author {
    float:left;
    margin-left: 12px;
    font-weight: bold;
    color: #337ab7;
}
ul.comments .delete-comment{
    margin: 0px 5px 0px 5px;
}



div.comment-form {
    margin: 16px 0px 16px 32px;
}
.comment-reply-info {
    color: #3f42cd;
}

.img-rounded {

    border-radius: 6px;
    
}












/*CSS For Comments(admin page), use the same CSS as above*/
ul.comments .comment-handle-admin {
    float: right;
}
ul.comments .disabled-comment-admin-info {
    color: #2c4a35;
}
ul.comments div.comment-info-admin {
    margin-left: 68px;
    min-height: 48px;
}
div.manage-comments .select-comments-admin {
    margin-left: 40px;
}
div.manage-comments .handle-box-admin {
    margin-bottom: -10px;
}
div.manage-comments .delComments {
    float: right;
}
ul.comments .delete-comment-admin-btn {
    margin-left: 5px;
    margin-right: 5px;
}
ul.comments .disabled-comment-admin-btn {
    margin-left: 5px;
}

/*CSS For submit comment*/
.comment-submit {
    margin-left: 25px;
}

/*CSS For floatButton*/
.floatButton {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 9999999;
}


