/*CSS For common appearance*/
html { 
	
	overflow: auto;
	height: 100%;
	}
body {
    /*background: #F0F0F0;*/
   /*  background: url('../images/background.jpg'); */
	/* overflow: auto; */
    height: 100%;
}

.navbar {
  position: relative;
  min-height: 100px; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: @navbar-margin-bottom;
  border: 1px solid transparent;
  
  // Prevent floats from breaking the navbar
  &:extend(.clearfix all);
  
  @media (min-width: @grid-float-breakpoint) {
    border-radius: @navbar-border-radius;
  }
}
.navbar-default {
  background-color: #1886a5;
  border-color: #90ee90;
      
}
.navbar-default div.container {
    
    margin-top:26px;
    margin-bottom:auto;
}


.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-shadow:4px 4px 5px #e5e5ff;
   
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #9b59b6;
}
.navbar-default .navbar-text {
  color: #ffffff;
}




.navbar-default .navbar-nav > li{
   
   border-radius: 6px;
  
}




.navbar-default .navbar-nav > li > a {
    
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  
  
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #9b59b6;
  
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #66cccc;
  border-radius: 5px;
  
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
  
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #9b59b6;
  background-color: #90ee90;
  border-radius: 3px;
  
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #90ee90;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #9b59b6;
  background-color: #90ee90;
  border-radius: 3px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #9b59b6;
  background-color: #90ee90;
  border-radius: 6px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #9b59b6;
  background-color: #90ee90;
  border-radius: 6px;
  
}
.navbar-default .navbar-toggle {
  border-color: #90ee90;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #90ee90;
  
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #9b59b6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #9b59b6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      
    color: #9b59b6;
    background-color: #90ee90;
    
    
  }
}    
    

.navbar-form .form-control {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 44px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    margin-right:3em;
    
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    
}

.searchform {
    
    margin: 0px 1px;
    padding: 4px 4px;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
div.click_feedback {
    display:inline-block;
    border:0px none #ccc;
    width:34px;
    height:34px;
    position:absolute;
    right:15px;
    z-index:10;
}



.trapezoid { 
    height:0;
    width: 10em;
    border-bottom: 2.4em solid #e5c3b2;
    border-left: 2.4em solid transparent;
    border-right: 2.4em solid transparent;
    
    font-family: Arial,sans-serif;
    text-align: center;
    display: inline;
    color:white;
    font-size: 100%;
    font-weight:bold;
    line-height:2.4em;
    white-space: nowrap;
    opacity:0.8;
    
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    
    position:absolute;
    left:-94px;
    top:3px;
    } 


























.panel .panel-title{
    font-weight:bold;
}




    
    

.nav .navbar-inverse  {
	
    background: #0C7854;
    background-image: -webkit-linear-gradient(top, #0D8059, #0B6E4D);
}




div.post-tabs {
    margin-top: 16px;
}

ul.posts {
    list-style-type: none;
    padding: 1px;
    margin: 20px 0px 0px 0px;
    border-bottom: 1px solid #e0e0e0;
    
}
div.post-tabs ul.posts {
    margin: 4px;
    border-top: none;
    
}
ul.posts li.post {
    margin: 1.1em  .2em;
    padding: 4px;
    border: 1px solid #f7efd7;
    background: #f7fff7;
    border-radius:.8em;
}
ul.posts li.post:hover {
    background-color: #fffee5;
}
div.post-pre-title {
    
    text-align: center;
    margin: 12px 10px;
}
div.post-pre-title a{
    
   
    font:caption;
    font-weight:600;
    
    color:#333333; 
    text-decoration: none;
    
}

div.post-pre-author {
    font-weight: bold;
}

div.post-pre-content {
    margin: 0em 1em 1em 4em ;
    
    min-height: 50px;
    position:relative;
}
div.post-pre-content a{
     
    text-decoration: none;
}
div.post-pre-header {
    font-weight:bold;
    margin:.5em .3em .1em .5em;
}
div.post-pre-header a{
    color:#FFFFFF;
    text-decoration: none;
}

div.post-pre-body {
	margin-top: 1em;
    
	margin-bottom:.3em;
    min-height: 2em;
    max-height:4em;
    text-align: left;
    text-indent:2em;
    overflow:hidden;
}

div.post-pre-button {
	margin: .1em 4em .2em .1em;
    opacity:0.7;
    
}
div.post-pre-footer {
	height: 16px;
    vertical-align: middle;
	margin:.7em 1em;
    color: #cc5100;
    opacity:0.8;
}
div.post-pre-footer a{
    color:#696969;
    text-decoration: none;
}






.post-entry-box {
    background: #f7fff7;
    padding: 30px;
	margin:20px 10px 30px 10px;
    height:auto; 
    
    
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}
.post-entry-box:hover {
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    border-color: #d6d6d6;
}
.post-entry-header {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.post-entry-title {
    font-weight: bold;
    text-align: center;
    margin: 15px 10px;
}
.post-entry-title a {
    text-decoration: none;
}

.post-entry-info {
    height: 35px;
}
div.post-entry-info a{
    color:#FFFFFF;
    text-decoration: none;
}

.left-info {
    float: left;
	vertical-align: middle;
}
.right-info {
    float: right;
	vertical-align: middle;
}
.post-entry-body {
	margin-top: 10px;
	margin-bottom:10px;
    min-height: 30em;
	text-align: left;
    text-indent:2em;
}

div.post-entry-footer {
	height: 40px;
    vertical-align: middle;
	margin-bottom:30px;
}
div.post-entry-footer a{
    text-decoration: none;
}
div.post-entry-comments {
	margin-top: 4em;
    
	margin-bottom:2em;
    min-height: 20em;
    
}




.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}











.footer {
	background: #1c9dc2;
	width:100%;
	font-size: 14px;
    min-height: 40px;
    margin-top: 150px;'
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    
    
}

.footer-content {
    
    text-align: center;
    color: #000000;
}












div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}








/*CSS For Comments(Article details page)*/
ul.comments {
    list-style-type: none;
    margin: 4px 1px 1px 1px;
    
}
ul.comments li.comment {
    
    padding:2px;
    border-bottom: 1px solid #e0e0e0;
    
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}


ul.comments div.comment-info {
    
    margin-left: 48px;
    margin-right: 2px;
    min-height: 60px;
    
}
li.comment div.comment-thumbnail {
    position: absolute;
    margin-top:4px;
    
    
}

li.comment div.comment-body {
    
    margin-top: 10px;
    min-height: 30px;
    
}


div.comment-info div.comment-date {
    float:right;
    margin-right: 12px;
    color: #8c8c8c;
}
div.comment-info div.comment-author {
    float:left;
    margin-left: 12px;
    font-weight: bold;
    color: #337ab7;
}
ul.comments .delete-comment{
    margin: 0px 5px 0px 5px;
}



div.comment-form {
    margin: 16px 0px 16px 32px;
}
.comment-reply-info {
    color: #3f42cd;
}

.img-rounded {

    border-radius: 6px;
    
}



.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #dfeffc;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}




.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    text-shadow: 0 -1px 0 #dfeffc;
    z-index: 0;
    color: #555;
    cursor: default;
    background-color: #dfeffc;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    background-image: none;
}


