{% extends 'admin/master.html' %}
{% block head %}
{{ super() }}
    {% block meta %}
        <meta name="csrf-token" content="{{ csrf_token() }}"/>
    {% endblock %}
{% endblock %}


{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-11">
            <h1>LOBSTER博客后台管理系统</h1>
            <p class="lead">
                数据库视图管理
            </p>
            <p>
                This example shows how to add basic CRUD-views for your SQLAlchemy models.
            </p>
            <p>
                The views are generated automatically, but it is perfectly possible to customize them to suit your needs.
            </p>
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </div>
    </div>
</div>
{% endblock body %}
{% block scripts %}
    <script>
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
    </script>
{% endblock %}
