<ul class="comments">
	{% if comments %}

    {% for comment in comments %}
    <li class="comment">
        {% if comment.comment_type=='reply'%}
            <p class="comment-reply-info">
                <span class="glyphicon glyphicon-envelope"></span>
                回复给<strong><i>
                {% if comment.is_reply() %}
                    {{comment.reply_to}}
                {% else %}
                    ({{comment.reply_to}}的该条评论已被删除）
                {% endif %}
                :</i></strong>
            </p>
        {% endif %}



        <div class="comment-thumbnail">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ comment.gravatar() }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="comment-author"><a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
            <div class="comment-body">
                {% if comment.disabled %}
                <p><i>This comment has been disabled by a moderator.</i></p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                {% endif %}
            
            </div>
            <div class="row comment-handle">
                {% if current_user.is_authenticated %}
                
                
                <div>
                {% if moderate %}
                    <br>
                    {% if comment.disabled %}
                    <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                    {% else %}
                    <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                    {% endif %}
                {% endif %}
                {% endif %}
                </div>
                <div class="col-sm-1" {%if current_user.is_authenticated%}col-sm-offset-10 {% endif %}>
                    <button class="btn btn-xs btn-default" id="button" onclick="go_to_reply({{comment.id}},'{{comment.author_name}}')">
                        <span class="glyphicon glyphicon-comment" style="color: rgb(208, 208, 255);"></span> 回复
                    </button>
                </div>
			</div>
			
			
    </li>
	
    {% endfor %}
	{% endif %}
</ul>

<!-- 信息删除确认: For delete a comment confirm -->
<div class="modal fade" id="delCommentCfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">确认删除评论？</h4>
            </div>
            <div class="modal-body">
                <p>
                    将该评论删除后不可恢复，您确认要删除吗？
                </p>
                <p>
                    （提示：如果您只是不想显示该评论内容，可以选择将其屏蔽，而不必删除。）
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a onclick="" id="delCommentCfmClick" class="btn btn-success" data-dismiss="modal">确定</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->          
