<ul class="comments">
	{% if comments %}
    {% for comment in comments %}
        <li class="comment">
            {% if comment.comment_type=='reply'%}
                <p class="comment-reply-info">
                    <i class="fa fa-reply fa-rotate-180"></i> 
                    {{_("Replied to")}}<strong><i>
                    {% if comment.is_reply() %}
                        {{comment.reply_to}}
                    {% else %}
                        ({{comment.reply_to}}{{_(" comment has been deleted!")}}）
                    {% endif %}
                    :</i></strong>
                </p>
            {% endif %}


            <div class="comment-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    <img class="img-rounded profile-thumbnail" src='{{comment.author.portrait}}' width='35'>
                </a>
            </div>
                            
            <div class="comment-info">
                <div class="row">
                    <div class="comment-author "><a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
                    <div class="comment-date ">{{ moment(comment.timestamp).fromNow() }}</div>
                </div>
                <div class="comment-body">
                    {% if comment.disabled %}
                    <p><i>{{_("This comment has been disabled by a moderator.")}}</i></p>
                    {% endif %}
                    {% if moderate or not comment.disabled %}
                        {% if comment.body_html %}
                            {{ comment.body_html | safe }}
                        {% else %}
                            {{ comment.body }}
                        {% endif %}
                    {% endif %}
                </div>
                
                <div class="row ">
                {% if current_user.is_authenticated %}
                                            
                    {% if  not moderate %}
                    <button class="btn btn-sm btn-default" style="margin:2px;" id="button" onclick="go_to_reply({{comment.id}},'{{comment.author.username}}')">
                            <i class="fa fa-reply"></i> {{_("Reply")}}
                    </button>
                    {% endif %}  
                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <div class="btn-group  pull-right col-sm-pull-1" role="group" style="margin:3px;">
                        {% if comment.disabled %}
                        <a class="btn btn-success btn-sm" href="{{ url_for('.moderate_enable', by=by,id=comment.id, page=page) }}">
                            <i class="fa fa-flag"></i> {{_("Allow")}}</a>
                        {% else %}
                        <a class="btn btn-warning btn-sm" href="{{ url_for('.moderate_disable',by=by, id=comment.id, page=page) }}">
                            <i class="fa fa-ban"></i>&nbsp;{{_("Ban")}}</a>
                        {% endif %}
                        <a class="btn btn-danger btn-sm" onclick="delCommentCfm('{{ url_for('.delete_comment',by=by, id=comment.id) }}')" >
                            <i class="fa fa-trash"></i> {{_("Delete")}}</a>
                        
                        </div>
                    {% endif %}    
                    {% else %}    
                        
                    
                {% endif %}
                </div>
                    
            </div>
      
        </li>
        
    {% endfor %}
    {% else %}
        <li class="comment">
            <div class="comment-body text-center">
            {{_("Write your comment... ")}}
            
            </div>
        </li>
    
	{% endif %}
</ul>

<!-- 信息删除确认: For delete a comment confirm -->
<div class="modal fade" id="delCommentCfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">{{_("Confirm to delete this comment?")}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {{_("The deleted comment cann't be restored,and are you sure to delete?")}}
                </p>
                <p>
                    {{_("Tip: You can choose to ban instead of delete.")}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{_("Cancel")}}</button>
                <a onclick="" id="delCommentCfmClick" class="btn btn-success" data-dismiss="modal">{{_("Delete")}}</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->          

<script>
    function delCommentCfm(url){
    
    $("#delCommentCfmClick").click(function(){
    window.location.href=url;
    });
    $("#delCommentCfmModel").modal();
    }
</script>
