{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}



{% macro widget_category(data, endpoint) %}			
    <ul class="nav nav-pills nav-stacked">
        {% for category, num in data.items() %}
            <li {% if category.id %} class="active"{% endif %}> 
                <a href="/post_result/cg/{{category.id}}">{{ category.name }} 
                 <span class="badge pull-right">{{ num }}</span>
                </a>
            </li>
        {% endfor %}
                    
{% endmacro %}


{% macro widget_tags(data, endpoint) %}
    {% set _,num_min, num_max = data[0] %}
    {% set font_min, font_max = (90, 270) %}
    {% if num_min == num_max or num_min == -1 %}
    {%      set size_delta = 0 %}
    {% else %}
    {%      set size_delta = ((font_max - font_min) // (num_max - num_min)) %}
    {% endif %}


    {% set color_class = cycler('color:#ac1dfe;','color:#bcb46e;','color:#4298e7;','color:#a7bce8;',
    'color:#e6eca8;','color:#d4349a;','color:#5b48ce;','color:#b5b1ea;','color:#fe4516;','color:#a68d32;',
    'color:#68d6e5;','color:#5c8d29;','color:#9c7da1;','color:#243f2a;','color:#6c7d99;',
    'color:#9cade9;','color:#1ced29;','color:#ec3de9;','color:#367d29;','color:#cccd29;') %}


<div class="panel panel-default ">
    <div class="panel-heading">
            <h3 class="panel-title">文章标签</h3>
    </div>
    <div class="panel-body" style="padding: 15px;">
        {% for tag in data[1:] %}
        <a style="{{color_class.next()}} font-size:{{ (tag[2] - num_min) * size_delta +font_min }}%" href="/post_result/tag/{{tag[0]}}" >
           {{ tag[1]}}
        </a>&nbsp;
        {% endfor %}
    </div>
</div>
{% endmacro %}

{%  macro widget_archieve(data,endpoint) %}
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">文章归档</h3>
        </div>
        
        <div class="panel-body">
            <ul>
            {% for year,months  in data.items() %}
                {% for month,num in months.items() %}
                
                    <li>
                    <a href="/post_result/timestamp/{{year}}-{{"%02d"|format(month)}}">
                        {{year}}年{{"%02d"|format(month)}}月({{num}})
                    </a>
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
        
    </div>
{% endmacro %}









{%  macro widget_newcomments(data,endpoint,fragment='') %}
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">最新评论</h3>
        </div>
        
        <div class="panel-body">
            <ol>
            {% for comment  in data %}
                
                
                    <li>
                    <a href="{{url_for('.post',id=comment.post_id)}}{{ fragment }}">
                        {{comment.author_name}}:{{comment.body}}
                    </a>
                    </li>
                
            {% endfor %}
            </ol>
        </div>
        
    </div>
{% endmacro %}

{%  macro widget_visitors(data,endpoint) %}
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">最新访客</h3>
        </div>
        
        <div class="panel-body">
            <ul>
            {% for user  in data %}
                     
                    <div>
                        <img src="{{ user.gravatar(size=18) }}">
                    <a href="{{url_for('.user',username=user.username)}}">
                        <p>{{user.username}}</p>
                    </a>
                    </div>
                
            {% endfor %}
            </ul>
        </div>
        
    </div>
{% endmacro %}


{%  macro widget_popular(data,endpoint) %}
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">热门推荐</h3>
        </div>
        
        <div class="panel-body">
            <ol>
            {% for post in data %}
                    <li> <small>{{post.author}}: </small>
                    <a href="{{url_for('.post',id=post.id)}}">
                        {{post.title|truncate(30, True)}}
                    </a>
                    </li>
            {% endfor %}
            </ol>
        </div>
        
    </div>
{% endmacro %}

{%  macro widget_links(data) %}
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">友情链接</h3>
        </div>
        
        <div class="panel-body">
            <a href="http://weibo.com/vlobster" target="_blank">
                     新浪微博 
                    </a>
            
            <ol>
            {% for post in data %}
                    <li> 
                    <a href="http://weibo.com/vlobster">
                     新浪微博 
                    </a>
                    </li>
            {% endfor %}
            </ol>
        </div>
        
    </div>
{% endmacro %}










{% macro field_error(field) %}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li style="color:red">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

