<ul class="column-md-8 posts">
    {% if posts %}
    {% for post in posts %}
    <li class="post">
        <div class="post-pre-content">
            
            <div  class='trapezoid'><i class="fa fa-folder-open"></i> 
                {% if g.locale=='zh_CN' %}
                <span>{{post.category.name }}</span>
                {% else %}
                <span>{{post.category.name_en }}</span>
                {% endif %} 
            </div>
            <div class="post-pre-title">
                <h4 class="text-uppercase " >
				<a href="{{url_for('.post',id=post.id)}}" >
				{{post.title}}
				</a>
                </h4>
            </div>
        
        
            <div class="row post-pre-header">
            
                <div class="pull-left">
                  
                {% for tag in post.tags %}
				<span class="label label-success" style="opacity:0.9;">
                    <a href="/post_result/tag/{{tag.id}}" >
							{{tag.tag_name}}
					</a>
                </span>&nbsp;
                {% endfor %}
                </div>
                
                <div align='right' style="margin-right:2em;">
                    <span class="label label-info">{{_("views")}}&nbsp;{{post.read_count}}</span>
                    
                </div>
            </div>
            
            <div class="post-pre-body">
            
                {% if post.body_pre %}
                    {{post.body_pre | safe }}
                {% else %}
                    {{ post.body_html | safe | truncate(20,True,end='......')}}
                {% endif %}
            </div>


            <div class="post-pre-button " align='right'>
                <a href="{{url_for('.post',id=post.id) }}">
                    <button class="btn btn-default">{{_("Detail")}}</button>
                </a>
            </div>

            <div class="post-pre-footer">
                <a href="{{ url_for('.user', username=post.author.username) }}" style="color:#cc5100;">
                    <i class="fa fa-user"></i>  {{ post.author.username }}
                </a> |
                <span >{{ moment(post.timestamp).format('LL') }}</span>&nbsp;
                
                
                <div class=" pull-right " style="margin-right:11px;">
                <a href="{{ url_for('.vote', post_id=post.id) }}">
                     <i class="fa {% if current_user.is_remarking(post) %} fa-heart {% else %} fa-heart-o {% endif %} "></i>  {{post.remark_count}}
                </a>

                
                <a href="{{ url_for('.concern', post_id=post.id) }}">
                     <i class="fa {% if current_user.is_concerning(post) %} fa-star {% else %} fa-star-o {% endif %} "></i> 
                    {{post.users.count()}}
                </a>
                
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <i class="fa fa-comment-o"></i>&nbsp;{{ post.comments.count() }}
                </a>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
    
    {% else %}
    <li class="post">
                <div class="post-pre-title">
                <i class="fa fa-spinner fa-pulse fa-2x"></i>&nbsp;
                <span >{{_("Sorry,No Blogs Here!!")}}</span>
                </div>
            </li>
    {% endif %}
</ul>
