<html>
<!-- {% extends "bootstrap/base.html" %} -->
{% block html_attribs %} lang="en" {% endblock %}
{% import "_macros.html" as macros %}
{% block head %}
{{ super() }}
    {% block title %}Yann{% endblock %}
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="csrf-token" content="{{ csrf_token() }}"/>
    {% endblock %}
    {% block style %}
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='css/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='css/favicon.ico') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
		<!-- <link href="{{ url_for('static', filename='css/mystyle.css') }}" rel="stylesheet"> -->
		
		
       
    {% endblock %}
{% endblock %}

<body>
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Yann</a>
        </div>
        <div class="navbar-collapse collapse">
			
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
				
				<li><span class="input-group"> 
						<form id = "search_form" style="display: inline;"                        
							action="{{url_for('main.search')}}" method="post" name="search_form">
							{{ g.search_form.hidden_tag()}}
							{{ g.search_form.search(size=20) }}
        					<input type="submit" value="GO!">
						</form>
					</span>
				
				</li>
                {% endif %}
            </ul>
            
            
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
                {% endif %}
                {% if current_user.can(Permission.WRITE_ARTICLES) %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        我的消息 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
						<li>
                            <a href="{{ url_for('main.send_sms',username=current_user.username) }}"> 发消息</a></li>
						<li>
                            <a href="{{ url_for('main.smsbox',username=current_user.username,by='inbox') }}" >收件箱</a></li>
                        <li>    
                            <a href="{{url_for('main.smsbox',username=current_user.username,by='outbox') }}" > 发件箱</a></li>
                        
                    </ul>
                </li>               
                
                {% endif %}
                
                
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
						<li><a href="{{url_for('main.post_new')}}">写文章</a></li>
						<li><a href="{{ url_for('admin.index') }}" target="_blank">后台管理</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">

	<div class="row">
  
		<div class="col-sm-3 sidebar">
			<h4>Yann's Blog</h4>
			<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#section1">Home</a></li>
			<li><a href="{{url_for('main.cg',id=1)}}">Web技术 </a> </li>
			<li><a href="/post_result/cg/3">数据库</a></li>
			<li><a href="#section3">编程</a></li>
			<li><a href="#section3">Linux</a></li>
			<li><a href="#section3">生活</a></li>
			</ul>
			<br>
			
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search Blog..">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
 
			{% block sidebar %}
				{{ macros.widget_category(sidebar_data['category'], '.post_result') }}
                {{ macros.widget_tags(sidebar_data['tags'], 'post') }}
                
                {{  macros.widget_archieve(sidebar_data['archieve'],'.post_result') }}
                {{  macros.widget_share(sidebar_data['link']) }}
                {{  macros.widget_share(sidebar_data['newcomments']) }}
                {{  macros.widget_share(sidebar_data['popular']) }}
                {{  macros.widget_share(sidebar_data['visitor']) }}
                
                
                
				
			{% endblock %}
      	</div>
	
	
		<div class="col-sm-9 container">
			{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endfor %}
	
	
			{% block page_content %}
			{% endblock %}
		</div>
	</div>

	{% block footer %}
    <footer class="blog-footer">
        <hr>
        <a href="https://shenghuo.alipay.com/send/payment/fill.htm?optEmail=15986767879&payAmount=9.9&title=%B4%F2%C9%CD%C4%E3%B5%C4%A3%A1">收款</a>
        <p class="text-center">
            Powered by <a href="http://flask.pocoo.org">Flask</a>, 
            <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://python.org">Python</a>,
            developed &amp; written by <a href="mailto:hexbot@163.com" target="_top">hexbot</a>. &nbsp;
        </p>
        <p class="text-center">
            <a href="#">Back to Top</a>
        </p>
    <div>
        <form action="https://shenghuo.alipay.com/send/payment/fill.htm" method="post" target="_blank" accept-charset="GBK" id="paymentForm">
        <input name="optEmail" type="hidden" value="15986767879" />
        <input name="payAmount" type="hidden" value="1.00" />
        <input id="title" name="title" type="hidden" value="捐赠给网站" />
        <input name="memo" type="hidden" value="文章写的不错" />
        <input name="pay" type="image" src="https://img.alipay.com/sys/personalprod/style/mc/btn-index.png" width="50" height="12">
        </form>
    </div>   
        
    </footer>
	{% endblock %}
</div>
{% endblock %}

{%block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- <script src="{{ url_for('static', filename='js/npm.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/floatButton.js') }}"></script>
    {# csrfToken for Ajax   #}
    <script>
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
    </script>

    {{ moment.include_moment() }}
    {{ moment.lang('zh-cn') }}
{% endblock %}
