<!DOCTYPE html>

<html lang="zh-CN">



<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta  http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="csrf-token" content="{{ csrf_token()}}">
       
    {% block style %}
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='css/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='css/favicon.ico') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
        
        
        <link href="{{ url_for('static', filename='css/croppie.css') }}" rel="stylesheet">
        
        <link  href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
	       
    {% endblock %}
    
    
    
    <title>
    {% block title %} {% endblock %}
    </title>

</head>



<body>

{% block navbar %}
<div class="navbar navbar-default  navbar-fixed-top" role="navigation">
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  name='top' id='top'>VLOBSTER</a>
        </div>
        <div class="navbar-collapse collapse ">
			
            <ul class="nav navbar-nav navbar-left">
                {% if current_user.can(Permission.WRITE_ARTICLES) %}
                <a href="{{ url_for('main.post_new',username=current_user.username) }}">
                    <button  class="btn btn-primary navbar-btn" style="margin-left:30px; font-weight:bold;">写文章</button>
                </a>
                {% endif %}
            </ul>
                 
            
            <ul class="nav navbar-nav navbar-right">
                                
                <li role="presentation"><a href="{{ url_for('main.index') }}">首页</a></li>
                {% if current_user.is_authenticated %}
                    <li role="presentation"><a href="{{ url_for('main.explore',by=by) }}">发现</a></li>
                {% endif %}
                <li role="presentation"><a href="{{ url_for('main.aboutme') }}"  target='_blank'>关于</a></li>
                {% if current_user.can(Permission.WRITE_ARTICLES) %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        消息 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
						<li>
                            <a href="{{ url_for('main.send_sms',username=current_user.username) }}"> 发消息</a></li>
						<li>
                            <a href="{{ url_for('main.smsbox',username=current_user.username,by='inbox') }}" >收件箱</a></li>
                        <li>    
                            <a href="{{url_for('main.smsbox',username=current_user.username,by='outbox') }}" > 发件箱</a></li>
                        
                    </ul>
                </li> 
                          
                {% endif %}
                
                
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.portrait }}" width="20" >
                        我 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ><a href="{{ url_for('main.user', username=current_user.username) }}">我的主页</a></li>
			             
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('main.moderate') }}">管理评论</a></li>
                        {% endif %}
                        {% if current_user.can(Permission.ADMINISTER) %}
                        <li><a href="{{ url_for('admin.index') }}" target="_blank">后台管理</a></li>
                        {% endif %}
                        
                    </ul>
                </li>
                <li role="presentation">
                <form class="navbar-form navbar-right" role='search' method="post" 
                action="{{url_for('main.search')}}"  name="search_form">
                    <div class="form-group">
                    {{ g.search_form.csrf_token}}
                    {{ g.search_form.search(size=20) }}
                    
                    </div>
                    <button type='submit' class="btn btn-default" id='searchform'><span class="glyphicon glyphicon-search"></span></button>
                              
                </form>
                </li>
                
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登入</a></li>
               
                
                
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}



<div class="container-fluid">
<div class="row">
{% block content %}


	
  
    <div class="col-sm-3 ">
    <div style="margin:1px 20px;">
    {% block sidebar %}
        
        <h4>Yann's Blog</h4>
        
        {% if current_user.is_authenticated %}
        <div class="panel panel-info ">
            <div class="panel-heading">
            <h3 class="panel-title" >文章搜索</h3>
            </div>
        
            <br>
            <div class="form-group" align='center' style="margin:15px ">
                <form class="form-horizontal "  role="form" action="{{url_for('main.search')}}" method="post" name="search_form">
                 <div class="input-group">        
                 {{ g.search_form.hidden_tag()}}
                 {{ g.search_form.search(size=20) }}
                 
                 <input type='submit' class="btn btn-default" value='GO!' style="line-height: 1.0;margin-bottom:1px;">
                 </div>                           
                </form>
            </div>
        </div>
        {% endif %}
        
        <div >
            <div class="datePicker"></div>
        </div>
        
        <br>
        
        {% import "_macros.html" as macros %}
           
        {{ macros.widget_category(sidebar_data['category'], '.post_result') }}  

        {{ macros.widget_tags(sidebar_data['tags'], 'post') }}
        
        {{  macros.widget_archieve(sidebar_data['archieve'],'.post_result') }}
        
        {{  macros.widget_newcomments(sidebar_data['newcomments'],'.post',fragment='#comments') }}
        {{  macros.widget_popular(sidebar_data['popular'],'.post_result') }}
        {{  macros.widget_visitors(sidebar_data['visitors'],'.user') }}
        {{  macros.widget_links(sidebar_data['links']) }}
                
            
    {% endblock %}
    </div>
    </div>
    
    
	
		<div class="col-sm-9 ">
        
            
            <div class="row">
            <div class="col-sm-11 " style="margin:10px 20px;" >
			{% for category,message in get_flashed_messages(with_categories=True) %}
			<div class="alert alert-{{ category }} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
				{{ message }}
			</div>
			{% endfor %}
            </div>
            
            <div class="row">
            <div class="col-sm-11"  style="margin:10px 30px;">
			{% block page_content %}
			{% endblock %}
            </div>
            </div>
            
            </div>
		</div>
	

	

{% endblock %}
</div>
</div>



<footer class='footer'>

 
 {% block footer %}


    
    <div class="footer-content">
       
        <p>
            Developed  by  Wang-Yann</a> &nbsp;<span>：wzy-511@163.com</span>&nbsp;
        {% if current_user.can(Permission.ADMINISTER) %}
        <button class="btn btn-warning float-right">
            <a href="{{ url_for('admin.index') }}" target="_blank">后台管理</a>
        </button>
        {% endif %}
        </p>
        
    <div align="center">
        <a  href="{{ url_for('main.alipay') }}">
        <image src="{{ url_for('static', filename='images/donate_me.png') }}"  height="20">
        </a>
        <button class="btn btn-info  pull-right" id='bottom'>
            <a href="#top">Back to Top</a>
        </button>
    </div> 
    <hr  />
    
    <span>Copyright © 2016  All rights reserved </span>&nbsp; 
    <span>川 ICP备 09043268号</span>
        
    </div>
</div>       
{% endblock %}

</footer>
{% block scripts %}
   

    <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/croppie.js') }}"></script>
    
    
    
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datePicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mycommon.js') }}"></script>
    {{ moment.include_moment() }}
    {{ pagedown.include_pagedown() }}
    
    
{% endblock %}




</body>
</html>
