<!DOCTYPE html>

<html  >

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta  http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="csrf-token" content="{{ csrf_token()}}">
       
    {% block style %}
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='css/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='css/favicon.ico') }}" type="image/x-icon">
        
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
        
        
        
        <link  href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
	    <link  href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">   
        
           
    {% endblock %}
    
    
    
    <title>
    {% block title %} VLOBSTER{% endblock %}
    </title>

</head>



<body>

{% block navbar %}
<div class="navbar navbar-default  navbar-fixed-top" role="navigation">
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand "  name='top' id='top' >VLOBSTER</a>
        </div>
        <div class="navbar-collapse collapse ">
			
            <ul class="nav navbar-nav navbar-left">
                {% if current_user.can(Permission.WRITE_ARTICLES) %}
                <a href="{{ url_for('main.post_new',username=current_user.username) }}">
                    <button  class="btn btn-primary navbar-btn" style="margin-left:30px; font-weight:bold;"><i class="fa fa-pencil-square"></i>&nbsp; {{_("Write")}}</button>
                </a>
                {% endif %}
            </ul>
                 
            
            <ul class="nav navbar-nav navbar-right">
                                
                <li role="presentation"><a href="{{ url_for('main.index',by=by) }}"><i class="fa fa-home "></i>&nbsp; {{_("HOME")}}</a></li>
                {% if current_user.is_authenticated %}
                <li role="presentation"><a href="{{ url_for('main.explore',by=by,username=current_user.username) }}"><i class="fa fa-paw"></i>&nbsp;{{_("FIND")}}</a></li>
                {% endif %}
                <li role="presentation"><a href="{{ url_for('main.aboutme') }}"  target='_blank'><i class="fa fa-tasks"></i> &nbsp;{{_("ABOUT")}}</a></li>
                {% if current_user.can(Permission.WRITE_ARTICLES) %}
                <li class="dropdown" role="presentation">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i> {{_("MAIL")}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
						<li >
                             <a href="{{ url_for('main.send_sms',username=current_user.username) }}"> 
                                <span class="glyphicon  glyphicon-edit"></span>&nbsp;{{_("Send_mail")}}</a></li>
						<li>
                            <a href="{{ url_for('main.smsbox',username=current_user.username,by='inbox') }}" >
                                <span class="glyphicon glyphicon-save"></span>&nbsp;{{_("Inbox")}}</a></li>
                        <li>    
                            <a href="{{url_for('main.smsbox',username=current_user.username,by='outbox') }}" > 
                                <span class="glyphicon glyphicon-open"></span>&nbsp;{{_("Outbox")}}</a></li>
                        
                    </ul>
                </li> 
                          
                {% endif %}
                
                
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.portrait }}" width="20" >
                        {{_(" %(name)s",name=current_user.username )}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu ">
                        <li ><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="fa fa-user"></i>&nbsp; {{_("General")}}</a></li>
			             
                        <li><a href="{{ url_for('auth.change_password') }}"><i class="fa fa-key"></i>&nbsp;{{_("Reset_Password")}}</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}"><i class="fa fa-tablet"></i>&nbsp; {{_("Chang_Account")}}</a></li>
                        <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out"></i>&nbsp; {{_("Log_Out")}}</a></li>
                        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('main.moderate') }}"><i class="fa fa-ban"></i>&nbsp; {{_("Moderate_Comments")}}</a></li>
                        {% endif %} 
                        {% if current_user.can(Permission.ADMINISTER) %}
                        <li><a href="{{ url_for('admin.index') }}" target="_blank"><i class="fa  fa-th"></i>&nbsp; {{_("Admin_Back")}}</a></li>
                        {% endif %}
                        
                    </ul>
                </li>
                
                <form class="navbar-form navbar-right" role='search' method="post" 
                action="{{url_for('main.search')}}"  name="search_form">
                    <div class="form-group">
                    {{ g.search_form.csrf_token}}
                    {{ g.search_form.search(size=16,placeholder=_("Search Blogs"),class="searchform") }}
                    
                    </div>
                    <button type='submit' class="btn btn-default" ><span class="glyphicon glyphicon-search"></span></button>
                              
                </form>
                
                
                {% else %}
                <li><a href="{{ url_for('auth.login') }}"><i class="fa fa-sign-in"></i>&nbsp;{{_("LOG_IN")}}</a></li>
               
                
                
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}



<div class="container-fluid" style="min-height:28em;">
<div class="row">
{% block content %}


	
  
    <div class="col-sm-3 ">
    <div style="margin:20px 15px;">
    {% block sidebar %}
        {% if current_user.is_authenticated %}
        <h2 class="lead" style="font-weight:700;">{{_("%(name)s's Blog",name=current_user.username)}}
            <a class="small" href="{{ url_for('.edit_profile') }}" title="{{_('Language')}}"> <i class="fa fa-language"></i></a></h2>
        <br>
        {% endif %}
        <br>
        {% include '_forsearch.html' %}
        
        
        
        
        <div >
            <div class="datePicker"></div>
        </div>
        
        <br>
        
        {% import "_macros.html" as macros %}
           
        {{ macros.widget_category(sidebar_data['category'], '.post_result') }}  

        {{ macros.widget_tags(sidebar_data['tags'], '.post_result') }}
        
        {{  macros.widget_archieve(sidebar_data['archieve'],'.post_result') }}
        
        {{  macros.widget_newcomments(sidebar_data['newcomments'],'.post',fragment='#comments') }}
        {{  macros.widget_popular(sidebar_data['popular'],'.post_result') }}
        {{  macros.widget_visitors(sidebar_data['visitors'],'.user') }}
        
        {% if current_user.is_authenticated %}
        {{  macros.widget_links(sidebar_data['links']) }}
        {% endif %}
                
            
    {% endblock %}
    </div>
    </div>
    
    
	
		<div class="col-sm-9 ">
        
            
            <div class="row">
            <div class="col-sm-11 " style="margin:1px 10px;" >
			{% for category,message in get_flashed_messages(with_categories=True) %}
			<div class="alert alert-{{ category }} alert-dismissible" role="alert" style='margin-bottom: 2px;'>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
				{{ message }}
			</div>
			{% endfor %}
            </div>
            
            <div class="row">
            <div class="col-sm-11"  style="margin:7px 30px;">
			{% block page_content %}
			{% endblock %}
            </div>
            </div>
            
            </div>
		</div>
	
   
	

{% endblock %}
</div>
</div>



<footer class='footer'>

 
 {% block footer %}


    
    <div class="footer-content">
       
        <p>
            <b style="color:white;">{{_("Developed  by  Yann")}} ：</b> &nbsp;
            <span>
                <a href="mailto:#" style='color:#b3ff66;text-decoration: blink;'>wzy-511@163.com</a>
            </span>&nbsp;
        {% if current_user.can(Permission.ADMINISTER) %}
        <button class="btn btn-warning float-right">
            <a href="{{ url_for('admin.index') }}" target="_blank" style='color:#ffffff;font-weight: bold;text-decoration: blink;'><i class="fa  fa-th"></i>&nbsp; {{_("Admin_Back")}}</a>
        </button>
        {% endif %}
        </p>
        
    <div align="center">
        <a  href="{{ url_for('main.alipay') }}">
        <image src="{{ url_for('static', filename='images/donate_me.png') }}"  height="20">
        </a>
        <button class="btn btn-info  pull-right" id='bottom'>
            <a href="#top"><i class="fa  fa-arrow-circle-up"></i>&nbsp;Back to Top</a>
        </button>
    </div> 
    <hr  />
    
    <span>Copyright © 2015 - 2016.  All rights reserved </span>&nbsp; 
    <span class="small">川 ICP备 09043268号</span>
        
    </div>
</div>       
{% endblock %}

</footer>
{% block scripts %}
   

    <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
   
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datePicker.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/mycommon.js') }}"></script>
    
    {{ moment.include_moment() }}
    
    {{ moment.lang( g.locale )}}
    
    
{% endblock %}




</body>
</html>
