{% extends "base.html" %}


{% block title %}VLOBSTER-Avatar-{{username}}{% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/croppie.css') }}" rel="stylesheet">
        
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>{{_("Change your avatar")}}</h3>
    
    
    <form class="form-inline"   method="post" action="" role="form" enctype=multipart/form-data>    
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
        <div class="form-group">
            <label class="sr-only" for="upload">{{_("File Input")}}</label>
            <div class=" input-group">
                <span class="input-group-addon "><i class="fa fa-file "></i></span>
            <input type='file' name="file" class="form-control input-lg" id="upload"  style="color:blue; opacity:0.6;" aria-describedby="helpBlock">
            </div>
            
        </div>
        <button class="btn btn-success btn-lg" type="submit" ><i class="fa fa-file-image-o "></i> {{_("Upload Raw")}}</button>
         
       
    
    </form>
    
    <span id="helpBlock" class="help-block" style="color:Silver;">建议将图片修剪后上传；如果直接上传，文件名称请不要包含特殊字符。</span>   
    <button class="btn btn-primary btn-lg" id="show-hidden"><i class="fa fa-eye "></i> {{_("PreView")}}</button>
    
    
    <div class="croppie-container" id="vanilla-demo" ></div> 
    <div class="action" align="center">
        <button   class="btn btn-success vanilla-result" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-crop "></i> / <i class="fa fa-upload "></i></button>
        <button  type="button" class="btn btn-info vanilla-rotate" data-deg="-90"><i class="fa fa-rotate-left "></i> {{_("Rotate_left")}} </button>
        <button  type="button" class="btn btn-info vanilla-rotate" data-deg="90"><i class="fa fa-rotate-right "></i> {{_("Rotate_right")}} </button>
    </div>
    
    
    
    
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{_("Crop Result")}}
				</h4>
			</div>
			<div class="modal-body">
				<div id="result" align="center"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{_("Cancel")}}
				</button>
				<button type="button" id="ajaxsubmit" class="btn btn-primary">
					<i class="fa fa-upload "></i> {{_("Ajax Upload")}}
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
 
 
 
 
 
 
    
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
 
<script src="{{ url_for('static', filename='js/croppie.js') }}"></script>

 <script>
 $(function() {
 var $uploadCrop;
    function readFile(input) {
        if (input.files && input.files[0]) {
            if (!input.files[0].type.match(/image.*/)){
            alert('请不要上传非图片文件')}
        
            var reader = new FileReader();
            
            reader.onload = function (e) {
                
                $uploadCrop.croppie('bind', {
                    url: e.target.result,
                    orientation: 4,                    
                    });
                }
            
            $("#show-hidden").click(function(){
                reader.readAsDataURL(input.files[0]);
            });        
        
        }
        else {swal("Sorry - you're browser doesn't support the FileReader API");}
    }
    
    $uploadCrop = $('#vanilla-demo').croppie({ 
    viewport: { 
        width: 200, 
        height: 200, 
        type: 'square' 
    }, 
    boundary: { 
        width: 300, 
        height: 300 
    } ,
    enableExif:true,
    enableOrientation: true
    }); 
    
        
    $('#upload').on('change', function () { 
        $(".croppie-container").show(); 
        readFile(this); 
    }); 
    
    var vEl = document.getElementById('vanilla-demo'),
        vanilla = $uploadCrop.croppie;
		
        
    vEl.addEventListener('update', function (ev) {
        console.log('vanilla update', ev);
    });
    
    document.querySelector('.vanilla-result').addEventListener('click', function (ev) {
        $uploadCrop.croppie('result',{
            type: 'canvas',
            size: 'viewport'
        }).then(function (src) {
            popupResult({
                src: src
            });
        });
    });

    $('.vanilla-rotate').on('click', function(ev) {
        $uploadCrop.croppie('rotate',parseInt($(this).data('deg')) );
    });
        
    function popupResult(result) { 
        var html; 
        if (result.html) { 
          html = result.html; 
        } 
        if (result.src) { 
          html = '<img id="abc" src="' + result.src + '" />'; 
        } 
        $("#result").html(html); 
    }; 
});

$('button[id=ajaxsubmit]').click(function(){

    var filename=$('#upload').val();
    
    if (filename != null && filename != ''){
    var str=$('#abc').attr("src");
    
    var imdata=str.split(',')[1];
    var fd = new FormData();
    fd.append('file', imdata);
    
    var csrftoken = $('meta[name=csrf-token]').attr('content');
    fd.append('csrf_token', csrftoken);
   
    $.ajax({
            url:'/api/v1.0/avatar',
            type:'POST',
            data:fd,
            processData: false,
            contentType: false,
            
            dataType:'json',
            error: function(xhr, err){
                alert('请求失败，原因可能是：' + err + '！')},
            success: function(data){  
                alert('头像修改成功')} 
    });
} 
       
});  
</script>
 

{% endblock %}