{% extends "base.html" %}

{% import "_macros.html" as macros %}


{% block title %}VLOBSTER-Find-{{user.username}}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>Hello, {{ user.username }}!</h3>
    </div>

    <div class="post-tabs">
        <ul class="nav nav-tabs ">
            <li{% if by=="show_followed" %} class="active"{% endif %}><a href="{{ url_for('.explore',by='show_followed',username=user.username) }}">
                <i class="fa fa-eye "></i> {{_("Following")}}</a></li>
            <li {% if by=="concerns" %} class="active"{% endif %}> <a href="{{url_for('.explore',by='concerns',username=user.username)}}">
                <i class="fa fa-star "></i> {{_("Concerned")}}</a></li>
            <li{% if by=="votes" %} class="active"{% endif %} ><a href="{{url_for('.explore',by='votes',username=user.username)}}">
                <i class="fa fa-heart "></i> {{_("Like")}}</a> </li>
            
        </ul>
        
        {% include '_posts.html' %}
    </div>

    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.explore',username=user.username) }}
    </div>
    {% endif %}
{% endblock %}





