{% extends "base.html" %}

{% import "_macros.html" as macros %}


{% block title %}VLOBSTER-Home{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated %}
    <h3>{{_("Hello,%(name)s",name=current_user.username)}}!</h3>
    {% else %}
    <h3>{{_("Log In For Reading More !!")}}</h3>
    {% endif %}
</div>

<div class="post-tabs">
    <ul class="nav nav-tabs ">
        <li{% if by=="all" or None %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">{{_("Newest")}}</a></li>
        <li{% if by=="read_count" %} class="active"{% endif %} ><a href="{{url_for('.index',by='read_count')}}">{{_("Hot")}}</a> </li>
        <li{% if by =="popularity" %} class="active"{% endif %}><a href="{{ url_for('.index',by='popularity') }}">{{_("Recommend")}}</a></li>
        
    </ul>
    
    {% include '_posts.html' %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}





