{% extends "base.html" %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->
{% import "_macros.html" as macros %}

{% block title %}Flasky - Post{% endblock %}

{% block page_content %}
<div id='article-details' class="entry-box">
    {% include '_posts.html' %}
</div>
	<hr>
	    
    <h4 id="comments"><span class="glyphicon glyphicon-comment">评论</span></h4>
    {% include '_comments.html' %}
        <!-- {% if pagination %} -->
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=id) }}
        </div>
    <!-- {% endif %} -->
	<hr>
	
	<div >
	<h4  id="submit-comment"><span class="glyphicon glyphicon-comment">发表评论</span></h4>
        <!-- {% if current_user.can(Permission.COMMENT) %} -->
    {% include '_submit_comment.html' %}    
        <!-- {% endif %} -->
	</div>

    <div>
        <!-- article sharing: use baidu share lib: http://share.baidu.com/code -->
        <div class="bdsharebuttonbox pull-left">
            <a href="#" class="bds_more" data-cmd="more"></a>
            <a href="#" class="bds_qzone" data-cmd="qzone"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina"></a>
            <a href="#" class="bds_tqq" data-cmd="tqq"></a>
            <a href="#" class="bds_renren" data-cmd="renren"></a>
            <a href="#" class="bds_weixin" data-cmd="weixin"></a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="btn-group pull-right">
            <a href="{{ url_for('.delete', id=id) }}" class="btn btn-default" role="button" id="article_del">删除</a>
            <a href="{{ url_for('.edit', id=id) }}" class="btn btn-default" role="button" id="article_edit">编辑</a>
        </div>
        {% endif %}
    </div>
    <br/>

{% endblock %}



{% block stylesheet %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/prism.css') }}" rel="stylesheet">
{% endblock %}


{% block scripts %}
	{{ super() }}
	<!-- <script>
	$(document).ready(function () {
		$("#button").click(function (){
                $('html, body').animate({
                    scrollTop: $("#submit-comment").offset().top
                }, 800);
            });
	});
	</script> -->
	<script src="{{ url_for('static', filename='tinymce/js/tinymce/extentsion_self/codesimple_extentsion/prism.js') }}"> </script>
    <!-- <script src="{{ url_for('static', filename='js/admin.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/commentReply.js') }}"> </script>

    <!-- article sharing: use baidu share lib: http://share.baidu.com/code -->
    <script>
        window._bd_share_config={
            "common":{
                "bdSnsKey":{},
                "bdText":"",
                "bdMini":"2",
                "bdPic":"",
                "bdStyle":"0",
                "bdSize":"16"},
            "share":{},
            "image":{
                "viewList":["qzone","tsina","tqq","renren","weixin"],
                "viewText":"分享到：",
                "viewSize":"16"},
            "selectShare":{
                "bdContainerClass":null,
                "bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]
            }};

        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
{% endblock %} 

