{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}VLOBSTER-Post{% endblock %}



{% block page_content %}

<div class="post-entry-box">

	<div class="post-entry-header">
		<h3 class="post-entry-title text-uppercase ">
			{{post.title}}
		</h3>
    </div>

    <div class="post-entry-info">
		<div class="left-info">
			<span class="label label-default">{{ moment(post.timestamp).format('LL') }}</span>&nbsp;

			{% for tag in post.tags %}
				<span class="label label-success">
                    <a href="/post_result/tag/{{tag.id}}" >
							{{tag.tag_name}}
					</a>
                </span>&nbsp;
                
			{% endfor %}
		</div>
		<div class="right-info">
			<span class="label label-info">{{_("views")}} {{post.read_count}}</span>
			<span class="label label-info">{{_("Comments")}} {{ post.comments.count() }}</span>
		</div>
	</div>
    
    <div class="post-entry-body">
        {% if post.body_html %}
               {{ post.body_html | safe }}
        {% else %}
               {{ post.body }}
        {% endif %}
    </div>

	
    <div class="post-entry-footer">
		<div class="left-info">
			<p>
			<button type="button" class="btn btn-default btn-sm" >
				<span class="glyphicon glyphicon-user"></span> 
					<a href="{{ url_for('.user', username=post.author.username) }}">{{post.author.username}}</a>
			</button>
            <button type="button" class="btn btn-info btn-sm" style="margin-left: 2em;">
				<i class="fa fa-folder "></i> 
					<a href="/post_result/cg/{{post.category.id}}" style="decoration:none; color:#fff;">{{post.category.name}}</a>
			</button>
			</p>
			<p> <span class="glyphicon glyphicon-time"> </span> <b>{{_("Update")}}:</b>
				{{moment(post.update_time).format('LL')}}
			</p>
		</div>
		
		<div class="right-info ">
            {% if current_user.is_concerning(post) %}
			<button type="button" class="btn btn-default btn-sm ">
				<a href="{{ url_for('.unconcern', post_id=post.id) }}">
                    <span class="glyphicon glyphicon-star "></span> 
                {{_("Disconcern")}} | {{post.users.count()}}    
                </a>
                
			</button>
            {% else %}
            <button type="button" class="btn btn-default btn-sm ">
				<a href="{{ url_for('.concern', post_id=post.id) }}">
                    <span class="glyphicon glyphicon-star-empty"></span> 
                     {{_("Concerns")}}| {{post.users.count()}}
                </a>
			</button>
            {% endif %}
            
			<button type="button" class="btn btn-default btn-sm ">
                <a href="{{ url_for('.vote', post_id=post.id) }}">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{_("Votes")}} | {{post.remark_count}}
                </a>
			</button>
				
		</div>
    </div>
	



<hr>

	<div class="post-entry-comments">
		    
        <h4 id="comments"><i class="fa fa-comments"></i> {{_("COMMENTS")}}</span></h4>
        {% include '_comments.html' %}
        
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=id) }}
            </div>
    
	</div>
	<hr>
    
	{% if current_user.can(Permission.COMMENT) %}
	<div >
        <h4  id="submit-comment"><i class="fa fa-commenting-o"></i> {{_("Submit Comment!")}}</span></h4>
        {% include '_submit_comment.html' %}    
	</div>
    {% endif %}
	
    <div>
        <!-- article sharing: use baidu share lib: http://share.baidu.com/code -->
        <div class="bdsharebuttonbox pull-left">
            <a href="#" class="bds_more" data-cmd="more"></a>
            <a href="#" class="bds_qzone" data-cmd="qzone"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina"></a>
            <a href="#" class="bds_tqq" data-cmd="tqq"></a>
            <a href="#" class="bds_renren" data-cmd="renren"></a>
            <a href="#" class="bds_weixin" data-cmd="weixin"></a>
        </div>
        {% if current_user.is_administrator() %}
        <div class="btn-group col-sm-offset-2">
            <a href="{{ url_for('.post_edit', id=id) }}" target="_blank" class="btn btn-warning" role="button" id="post_edit">
                <i class="fa fa-pencil-square"></i> {{_("EDIT")}}[Admin]</a>
            <a " class="btn btn-danger" data-toggle="modal" data-target="#myModal" role="button" id="post_del">
                <i class="fa fa-trash"></i> {{_("DELETE")}}[Admin]</a>
        </div>
        {% elif current_user == post.author %}
        <div class="btn-group col-sm-offset-2">
            <a href="{{ url_for('.post_edit', id=id) }}" target="_blank" class="btn btn-warning">
                <i class="fa fa-pencil-square"></i> {{_("EDIT")}}</a>
            <a  class="btn btn-danger" data-toggle="modal" data-target="#myModal" role="button" id="post_del">
                <i class="fa fa-trash"></i> {{_("DELETE")}}</a>
        </div>
         
        {% endif %}
    </div>
    
    <br/>
    
    <!-- 模态框（Modal） -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               {{_("Confirm to delete this post?")}}
            </h4>
         </div>
         <div class="modal-body">
            <p>{{_("The deleted post  cann't be restored,and are you sure to delete?")}}</p>
            <p>{{_("Comments for this post will be deleted at the same time!")}}</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{_("Cancel")}}</button>
                <a href="{{ url_for('main.delete_post', id=id) }}"  class="btn btn-success" >{{_("OK")}}</a>
         
            
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->

    
    
    

</div>



{% endblock %}



{% block scripts %}
{{ super() }}




	
    <script src="{{ url_for('static', filename='js/commentReply.js') }}"> </script>

    <!-- article sharing: use baidu share lib: http://share.baidu.com/code -->
    <script>
        window._bd_share_config={
            "common":{
                "bdSnsKey":{},
                "bdText":"",
                "bdMini":"2",
                "bdPic":"",
                "bdStyle":"0",
                "bdSize":"16"},
            "share":{},
            "image":{
                "viewList":["qzone","tsina","tqq","renren","weixin"],
                "viewText":"分享到：",
                "viewSize":"16"},
            "selectShare":{
                "bdContainerClass":null,
                "bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]
            }};

        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
{% endblock %} 

















