{% extends "base.html" %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->
{% import "_macros.html" as macros %}

{% block title %}Flasky - Post{% endblock %}

{% block page_content %}
<div id='article-details' class="entry-box">
    {% include '_posts.html' %}
</div>
	<hr>
	    
    <h4 id="comments"><span class="glyphicon glyphicon-comment">评论</span></h4>
    {% include '_comments.html' %}
        <!-- {% if pagination %} -->
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=id) }}
        </div>
    <!-- {% endif %} -->
	<hr>
	
	<div >
	<h4  id="submit-comment"><span class="glyphicon glyphicon-comment">发表评论</span></h4>
        <!-- {% if current_user.can(Permission.COMMENT) %} -->
    {% include '_submit_comment.html' %}    
        <!-- {% endif %} -->
	</div>


{% endblock %}



{% block stylesheet %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/prism.css') }}" rel="stylesheet">
{% endblock %}


{% block scripts %}
	{{ super() }}
	<!-- <script>
	$(document).ready(function () {
		$("#button").click(function (){
                $('html, body').animate({
                    scrollTop: $("#submit-comment").offset().top
                }, 800);
            });
	});
	</script> -->
	<script src="{{ url_for('static', filename='tinymce/js/tinymce/extentsion_self/codesimple_extentsion/prism.js') }}"> </script>
    <!-- <script src="{{ url_for('static', filename='js/admin.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/commentReply.js') }}"> </script>
{% endblock %} 

