{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}tag{% endblock %}

{% block page_content %}

<div class="post-tabs">
   <ul class="nav nav-tabs">
{% include '_posts.html' %}
   </ul>
</div>



{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint,tag_id=tag_id) }}
</div>
{% endif %}

{% endblock %}



{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
